<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.spsepo.kuchar.easypark">

    <application
        android:allowBackup="true"
        android:label="Parkuj v Prešove"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPark">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6wK7m4sdqf5a_Xa00ni08OL7MmAOwaxA" />



        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />

    </application>

</manifest>
